---
layout: default
---

<div class="post">

  <article>
    <div class="row">
      <div class="col">
        {{ content }}
        {% if page.social %}
        <div class="social">
          {% include social.html %}
        </div>
        {% endif %}
      </div>
      {% if page.profile %}
      <div class="profile col-2 {% if page.profile.align == 'left' %}order-first{% endif %}">
        {% if page.profile.image %}
          <img class="img-fluid rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
        {% endif %}
        {% if page.profile.aux_info %}
          <div class="aux_info">
            {{ page.profile.aux_info }}
          </div>
        {% endif %}      
      </div>
      {% endif %}
    </div>
  </article>
  
</div>
